<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="UserStockResponseDTO" type="com.kb.crunchit.dto.response.UserStockResponseDTO"/>
        <typeAlias alias="UserBondResponseDTO" type="com.kb.crunchit.dto.response.UserBondResponseDTO"/>
        <typeAlias alias="UserFundResponseDTO" type="com.kb.crunchit.dto.response.UserFundResponseDTO"/>
        <typeAlias alias="StockPriceInfo" type="com.kb.crunchit.entity.StockPriceInfo"/>
    </typeAliases>

    <mappers>
        <mapper resource="com/kb/crunchit/mapper/UserAssetStatisticsMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/UserBondMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/UserFundMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/UserStockMapper.xml"/>
    </mappers>

</configuration>
