<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="UserStockResponseDTO" type="com.kb.crunchit.dto.response.UserStockResponseDTO"/>
        <typeAlias alias="UserBondResponseDTO" type="com.kb.crunchit.dto.response.UserBondResponseDTO"/>
        <typeAlias alias="UserFundResponseDTO" type="com.kb.crunchit.dto.response.UserFundResponseDTO"/>

        <typeAlias alias="Board" type="com.kb.crunchit.entity.Board"/>
        <typeAlias alias="BoardRequest" type="com.kb.crunchit.dto.request.BoardRequestDTO"/>
        <typeAlias alias="BoardResponse" type="com.kb.crunchit.dto.response.BoardResponseDTO"/>
        <typeAlias alias="Comment" type="com.kb.crunchit.entity.Comment"/>
        <typeAlias alias="CommentRequest" type="com.kb.crunchit.dto.request.CommentRequestDTO"/>
        <typeAlias alias="CommentResponse" type="com.kb.crunchit.dto.response.CommentResponseDTO"/>
        <typeAlias alias="Reply" type="com.kb.crunchit.entity.Reply"/>
        <typeAlias alias="ReplyRequest" type="com.kb.crunchit.dto.request.ReplyRequestDTO"/>
        <typeAlias alias="ReplyResponse" type="com.kb.crunchit.dto.response.ReplyResponseDTO"/>
        <typeAlias alias="Like" type="com.kb.crunchit.entity.Like"/>
        <typeAlias alias="LikeRequest" type="com.kb.crunchit.dto.request.LikeRequestDTO"/>
        <typeAlias alias="LikeResponse" type="com.kb.crunchit.dto.response.LikeResponseDTO"/>
        <typeAlias alias="StockPriceInfo" type="com.kb.crunchit.entity.StockPriceInfo"/>
        <typeAlias alias="User" type="com.kb.crunchit.entity.User"/>
        <typeAlias alias="Notification" type="com.kb.crunchit.entity.Notification"/>
        <typeAlias alias="NotificationRequest" type="com.kb.crunchit.dto.request.NotificationRequestDTO"/>
    </typeAliases>

    <!-- 데이터베이스 환경 설정 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/crunchit"/>
                <property name="username" value="root"/>
                <property name="password" value="1234"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com/kb/crunchit/mapper/UserAssetStatisticsMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/UserBondMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/UserFundMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/UserStockMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/ChatRoomMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/UserMapper.xml"/>
        <mapper resource="com/kb/crunchit/mapper/BoardMapper.xml"/>
    </mappers>

</configuration>
