<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.crunchit.mapper.ChatRoomMapper">
    <select id="getChatRooms" resultType="com.kb.crunchit.dto.ChatRoom">
        SELECT * FROM chat_rooms
    </select>
    <insert id="insertChatRoom" parameterType="com.kb.crunchit.dto.ChatRoom">
        INSERT INTO chat_rooms (name) VALUES (#{name})
    </insert>
</mapper>