<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.crunchit.mapper.UserFundMapper">
    <!-- 모든 사용자 펀드 정보 조회 -->
    <resultMap id="userFundResultMap" type="UserFundResponseDTO">
        <result property="fundCode" column="fund_code" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="averagePurchasePrice" column="average_purchase_price" jdbcType="INTEGER"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="fundName" column="fund_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 펀드 수익률이 가장 높은 user_id 조회 -->
    <select id="findTopFundProfitUserId" resultType="int">
        SELECT user_id
        FROM user_asset_statistics
        WHERE fund_invest_amount > 0
        ORDER BY (fund_profit_amount / fund_invest_amount) DESC
            LIMIT 1
    </select>

    <!-- 특정 user_id가 보유한 펀드 중 비중이 높은 3개 조회 -->
    <select id="findTop3FundsByUserId" parameterType="int" resultMap="userFundResultMap">
        SELECT *
        FROM user_funds
        WHERE user_id = #{userId}
        ORDER BY investing_amount DESC
            LIMIT 3
    </select>
</mapper>
