<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kb.crunchit.mapper.recommendation.top.UserStockMapper">
    <!-- 모든 사용자 주식 정보 조회 -->
    <resultMap id="userStockResultMap" type="com.kb.crunchit.dto.response.recommendation.top.UserStockResponseDTO">
        <result property="stockCode" column="stock_code" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="averagePurchasePrice" column="average_purchase_price" jdbcType="INTEGER"/>
        <result property="quantity" column="quantity" jdbcType="INTEGER"/>
        <result property="stockMarket" column="stock_market" jdbcType="VARCHAR"/>
        <result property="stockName" column="stock_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 주식 수익률이 가장 높은 user_id 조회 -->
    <select id="findTopStockProfitUserId" resultType="int">
        SELECT user_id
        FROM user_asset_statistics
        WHERE stock_invest_amount > 0
        ORDER BY (stock_profit_amount / stock_invest_amount) DESC
            LIMIT 1
    </select>

    <!-- 특정 user_id가 보유한 주식 중 비중이 높은 3개 조회 -->
    <select id="findTop3StocksByUserId" parameterType="int" resultMap="userStockResultMap">
        SELECT *
        FROM user_stock
        WHERE user_id = #{userId}
        ORDER BY (average_purchase_price * quantity) DESC
            LIMIT 3
    </select>


</mapper>
