<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kb.crunchit.mapper.recommendation.api.RecommendationApiBondMapper">

    <resultMap id="BondResultMap" type="com.kb.crunchit.entity.BondInfo">
        <result property="issuerName" column="bondsurlNm" />
        <result property="productName" column="isinCdNm" />
        <result property="creditRating" column="fnScrItsmKcdNm" />
        <result property="surfaceRate" column="bondSrfcIntr" />
        <result property="interestType" column="bondIntrTcdNm" />
        <result property="maturityDate" column="bondExprDt" />
        <result property="interestPaymentCycle" column="intPayCyclCtt" />
    </resultMap>

    <insert id="insertBond" parameterType="com.kb.crunchit.entity.BondInfo">
        INSERT INTO recommendation_api_bond
        (bondsurlNm, isinCdNm, fnScrItsmKcdNm, bondSrfcIntr, bondIntrTcdNm, bondExprDt, intPayCyclCtt)
        VALUES
            (#{issuerName}, #{productName}, #{creditRating}, #{surfaceRate}, #{interestType}, #{maturityDate}, #{interestPaymentCycle})
    </insert>

    <update id="updateBond" parameterType="com.kb.crunchit.entity.BondInfo">
        UPDATE recommendation_api_bond
        SET bondsurlNm = #{issuerName},
            fnScrItsmKcdNm = #{creditRating},
            bondSrfcIntr = #{surfaceRate},
            bondIntrTcdNm = #{interestType},
            bondExprDt = #{maturityDate},
            intPayCyclCtt = #{interestPaymentCycle}
        WHERE isinCdNm = #{productName}
    </update>

    <select id="exists" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM recommendation_api_bond WHERE isinCdNm = #{productName}
    </select>

    <select id="selectAllBonds" resultMap="BondResultMap">
        SELECT * FROM recommendation_api_bond
    </select>
</mapper>
